---
import BaseLayout from "@layouts/BaseLayout.astro";
import TagButton from "@components/TagButton.astro";
import { Frontmatter, getAllUniqueTags } from "src/misc"

const allPosts = await Astro.glob<Frontmatter>('../../pages/blog/articles/*.md');
const posts = allPosts.filter((post) => post.frontmatter.draft != true);

const uniqueTags = getAllUniqueTags(posts);
---

<BaseLayout title="Tags" activeLink="tags">
  <div class="w-3/4 lg:w-2/5 mx-auto">

    <h1 class="text-center text-4xl pb-1 font-semibold bg-gradient-orange text-transparent bg-clip-text mb-8">All tags
    </h1>

    <ul class="flex flex-wrap gap-2">
      {uniqueTags.map(tag =>
      <li>
        <TagButton tagName={tag} />
      </li>
      )}
    </ul>

  </div>
</BaseLayout>

<style>
</style>