---
import config from "src/config.js";
export interface Props {
  tagName: string
}

const { tagName } = Astro.props;
const { tagNames, tagColors } = config;

const tagColor = tagNames?.[tagName] ?? 'default';
---

<a class="p-[clamp(0.25rem,_0.25em,_0.5em)_0.5em] rounded-md text-stone-600 hover:text-stone-800 dark:text-stone-300 dark:hover:text-stone-100"
  style={`--tag-bg: ${tagColors[tagColor] + '1a' };--tag-prefix: ${tagColors[tagColor]};`} href={`${import.meta.env.BASE_URL}tags/${tagName}/`}>{tagName}</a>

<style>
  a {
    background: transparent;
    padding: clamp(var(--su-1, 0.25rem), 0.25em, 0.5em);
    transition: all var(--transition-props, cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms);
  }

  a:hover,
  a:focus {
    background: var(--tag-bg);
    box-shadow: inset 0 0 0 1px var(--tag-bg), inset 0 0 0 1px var(--tag-bg), inset 0 0 0 1px var(--tag-bg);
  }

  a::before {
    content: '#';
    color: var(--tag-prefix);
  }
</style>